body{
    background:#0f172a;
    color:white;
    font-family:Arial,sans-serif;
    padding:20px;
}

h1{
    color:gold;
}

input,select{
    width:250px;
    padding:8px;
    margin:3px;
    border:none;
    border-radius:5px;
}

button{
    padding:10px 15px;
    margin:5px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.choice,
.condition{
    background:#1e293b;
    padding:15px;
    margin-bottom:15px;
    border-radius:8px;
}

pre{
    background:#111827;
    padding:15px;
    margin-top:20px;
    border-radius:8px;
    white-space:pre-wrap;
}